doctype html
include components/mixin
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scelable=yes, maximum-scale=3.0, minimum-scale=1.0")
        title Туристична фiрма, розважальнi послуги, велотур, екскурсiя, подорож
        link(rel="stylesheet", href="css/styles.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Rubik:ital@0;1&display=swap" rel="stylesheet")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    body 
        include components/header
        include components/main
        include components/footer
    script(src="js/bootstrap.bundle.min.js") 
    script(src="js/scripts.js") 