footer
    .gradient
        top: 0
        height: 10%
        background: linear-gradient(0deg, rgba(245,248,250,0) 0%, rgba(245,248,250,1) 100%)
.footer
    background: url(../img/footer.jpg) no-repeat center
    background-size: cover
    .foot 
        height: 400px
.copyrayt 
    background-color: #1a1a1a
    padding-top: 18px
