.bacground
    background-color: $bgcColor
.about-company
    i
        padding: 20px 0 30px
    .attention
        max-width: 217px
        padding-top: 20px
        font-size: 13px
        color: #bbbbbb
.travel-plan
    a
        padding: 21px
    &:hover
        background-color: #fff
        filter: drop-shadow(0px 4px 10.5px rgba(3,20,31,0.05))
.travel
    padding: 0 15px
    +media(992)
        margin-bottom: 40px
    img
        padding: 25px
    .title-card
        font-size: 18px
        color: #333333
    .price
        font-size: 24px
        color: #0099ff
    .card-descr
        font-size: 13px
        color: #999999
.all-plans
    font-size: 12px
    letter-spacing: 0px
    color: #0099ff
    &:hover
        color: #ffb700
    &::after,
    &::before
        content: ""
        position: absolute 
        top: 50%
        right: -15px
        transform: translate(-50%, -50%)
        border-color: #0099ff
        &:hover
            border-color: #ffb700
    &::before
        width: 13px
        height: 13px
        right: -26px
        border: 1px solid 
        border-radius: 50%
    &::after
        width: 4px
        height: 4px
        top: 45%
        border-bottom: 1px solid 
        border-right: 1px solid 
        transform: rotate(-45deg)
.island-descr
    color: #333333
    padding: 10px 0
    +media(1400)
        padding: 26px 0 38px
        line-height: 29px
.island
    .button
        padding-right: 10px
.price-island
    background-color: #edf1f4
    padding: 20px 10px
    +media(1400)
        padding: 40px 30px
    &:hover
        background-color: #fff
        filter: drop-shadow(0px 4px 10.5px rgba(3,20,31,0.05))
    .price
        font-size: 24px
        color: #0099ff
    .discr
        font-size: 13px
        color: #999999
.surfingBg
    background: url(../img/surfing.png) no-repeat
    background-size: cover
    background-position: center
    color: #ffffff
.surfing
    padding-bottom: 30px
    +media(1200)
        padding-bottom: 0
    h2
        font-size: 29px
        letter-spacing: 2px
        +media(600)
            font-size: 56px
    span
        color: #0099ff
    p 
        padding: 31px 0
.buttons
    .button
        margin-bottom: 10px
        +media(992)
            margin-bottom: 0
        a
            width: 193px
.photo-review
    width: 86px
    opacity: 0.8
    &:hover
        transform: scale(1.2)
        opacity: 1
.review
    &::before,
    &::after
        position: absolute
        height: 78%
        width: 200px
        top: 15px
        opacity: 0.2
        border: 4px solid #fff
        +media(600)
            content: ""
    &::before
        right: -35px
        border-left: none
    &::after
        left: -35px
        border-right: none
    i
        max-width: 500px
        padding: 16px 0
    p
        padding-bottom: 5px
        color: #999999
    span
        padding: 25px
        &::before
            content: ""
            position: absolute
            width: 42px
            height: 38px
            top: 0
            left: 50%
            background: url(../img/quote.svg) no-repeat
            transform: translateX(-50%)
.card-proposals
    &:hover
        background-color: #fff
        filter: drop-shadow(0px 4px 10.5px rgba(3,20,31,0.05))
    .content-card
        padding: 10px 20px
    .title-card
        font-size: 18px
        line-height: 26px
        color: #333333
    .card-descr
        font-size: 13px
        line-height: 19px
        color: #999999
    .price
        font-size: 24px
        line-height: 44px
        color: #0099ff
    .card-btn
        font-size: 13px
        letter-spacing: 1px
        color: #ffb700
        &:hover
            font-size: 15px
.workSchedule
    .add-info
        background: url(../img/info1.png) no-repeat center
.nutritionInformation
    .add-info
        background: url(../img/info2.png) no-repeat center
.add-info 
    padding: 25px
    background-size: cover
    width: 270px 
    height: 270px
    line-height: 19px
    font-size: 12px
    .title-card
        padding-left: 50px
        font-size: 18px
        &::before
            content: ""
            position: absolute
            width: 34px
            height: 42px
            top: 0
            left: 0
            background: url(../img/file.png) no-repeat center
    .sizeFile
        padding-left: 50px
        color: #bbbbbb
    .card-descr
        min-height: 80px
        color: #fefefe
    .button > a
        padding: 6px 12px 4px 33px 
        border-radius: 20px
        border: 1px solid #ffb700
        font-size: 12px
        color: #ffb700
        &:hover
            background-color: rgba(255,255,255,0.3)
        &::before
            content: ""
            position: absolute
            width: 15px
            height: 11px
            top: 50%
            left: 10px
            transform: translateY(-50%)
            background: url(../img/cloud.png) no-repeat center
.consultation
    margin-top: 24px
    font-size: 18px
    &::before,
    &::after
        position: absolute
        height: 83%
        width: 47px
        top: 15px
        border: 4px solid #ffb700
        +media(600)
            content: ""
    &::before
        right: 10px
        border-left: none
    &::after
        left: 10px
        border-right: none
    h4
        letter-spacing: 1px
        line-height: 26px
        color: #333333
    p
        text-align: center
        max-width: 149px
        font-size: 13px
        line-height: 16px
        color: #999999
    a
        padding: 20px 0
        line-height: 26px
        color: #0099ff
.question
    padding-bottom: 27px
    